# BD Service Database
BD_SERVICE_DB_USER=your_db_user
BD_SERVICE_DB_PASSWORD=your_db_password
BD_SERVICE_DB_NAME=your_db_name
BD_SERVICE_DB_PORT=5432
BD_SERVICE_PORT=8000

# Connection pool
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

# Environment
ENVIRONMENT=development
DEBUG=true

# pgAdmin
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_PORT=5050
ANDEX_TOKEN=your_yandex_music_token #only for parse service
GENIUS_TOKEN=your_genius_token #only for parse service